@import url('~@/style/default.less');

@media (min-width: @m1) {
  .header {
    max-width: 1240px;
    height: @header-height;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .logo {
      height: 26px;
      cursor: pointer;
    }
    & > .right {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: @m) {
  .header {
    width: 100%;
    height: @header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    & > .logo {
      height: 0.42rem;
    }
    & > .right {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }
}
